/* Global Styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    border: none;
}

/* Root Variables */
:root {
    --color-white: hsl(252, 30%, 100%);
    --color-light: hsl(252, 30%, 93%);
    --color-gray: hsl(252, 49%, 21%);
    --color-primary: hsl(252, 75%, 60%);
    --color-secondary: hsl(252, 100%, 90%);
    --color-success: hsl(120, 95%, 60%);
    --color-danger: hsl(325, 95%, 60%);
    --color-dark: hsl(249, 18%, 65%);
    --color-black: hsl(252, 30%, 8%);

    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --search-padding: 0.6rem 2rem;
    --card-padding: 1rem;
    --btn-padding: 0.6rem 2rem;
}

/* Base Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--color-dark);
    background: var(--color-light);
    /* overflow: hidden; */
}

.container {
    width: 90%;
    margin: 0 auto;
}

.img {
    display: block;
    width: 100%;
}

.profile-picture img {
    width: 3rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
}

.profile-picture:hover {
    opacity: 0.75;
}

/* Button Styles */
.btn {
    padding: var(--btn-padding);
    display: inline-block;
    cursor: pointer;
    border-radius: var(--border-radius);
    font-size: 0.9rem;
    font-weight: 500;
    transition: 300ms ease all;
}

.btn:hover {
    opacity: 0.75;
}

.btn-primary {
    background: var(--color-primary);
    color: var(--color-white);
}

/* Text Styles */
.text-bold {
    font-weight: 500;
}

.text-gray {
    color: var(--color-gray);
}


/* ------------------  start NavBar ---------------*/
/* Navigation Bar Styles */
nav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    padding: 0.7rem 0;
    background: var(--color-primary);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

/* Search Bar Styles */
nav .search-bar {
    padding: var(--search-padding);
    background: var(--color-secondary);
    border-radius: var(--border-radius);
    border: 1px solid var(--color-gray);
}

nav .search-bar input[type="search"] {
    background: transparent;
    width: 30vw;
    margin-left: 1rem;
    font-size: 0.9rem;
    color: var(--color-black);
}

nav .search-bar input[type="search"]::placeholder {
    color: var(--color-dark);
}

/* Add Post Section */
.add-post {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.add-post .btn {
    padding: 0.5rem 1.5rem;
    background: var(--color-success);
    color: var(--color-white);
    border-radius: var(--border-radius);
    transition: background 300ms ease, color 300ms ease;
}

.add-post .btn:hover {
    background: var(--color-dark);
    color: var(--color-light);
}

/* Logo Styles */
.logo h3 {
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
    user-select: none;
    color: var(--color-white);
}

.logo span {
    color: var(--color-danger);
}

/* ------------------  end NavBar ---------------*/

/* -------------- Start main section  ----------------*/
main {
    position: relative;
    top: 6rem;
}

.main-container {
    display: grid;
    grid-template-columns: 18vw auto 20vw;
    position: relative;
}

/*....... start main left.....*/
.main-left {
    position: sticky;
    height: max-content;
    top: 5.4rem;
}

.main-left .profile {
    background: var(--color-light);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    width: 100%;
    gap: 1rem;
    display: flex;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

aside {
    margin-top: 1rem;
    border-radius: var(--card-border-radius);
}

aside .menu-item {
    display: flex;
    align-items: center;
    height: 4rem;
    position: relative;
    cursor: pointer;
    transition: 300ms ease all;
    background: var(--color-white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: var(--card-border-radius);
    margin-bottom: 0.5rem;
}

aside .menu-item:hover {
    background: var(--color-secondary);
}

aside .menu-item span img {
    width: 1.8rem;
    margin-left: 2rem;
    position: relative;
}

aside .notfy-counter {
    background: var(--color-danger);
    color: var(--color-white);
    width: fit-content;
    font-size: 0.7rem;
    border-radius: 30%;
    padding: 0.1rem 0.4rem;
    position: absolute;
    top: 0.7rem;
    left: 3.2rem;
}

aside .menu-item h3 {
    margin-left: 1.5rem;
    font-size: 1rem;
}

aside .active {
    background: var(--color-secondary);
}

aside .active h3 {
    color: var(--color-primary);
}

aside .active::before {
    content: '';
    display: block;
    width: 0.5rem;
    height: 100%;
    background: var(--color-primary);
    position: absolute;
    left: 0;
}

aside .menu-item:nth-child(1) {
    overflow: hidden;
    border-top-left-radius: var(--card-border-radius);
    border-bottom-right-radius: var(--card-border-radius);
}

aside .menu-item:nth-last-child(2) {
    overflow: hidden;
    border-bottom-left-radius: var(--card-border-radius);
    border-bottom-right-radius: var(--card-border-radius);
}

.btn-lg {
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    background: var(--color-primary);
    color: var(--color-white);
    border-radius: var(--border-radius);
    transition: background 300ms ease;
}

.btn-lg:hover {
    background: var(--color-dark);
}

/*.............end main left......*/


/*.............start notifaction box......*/
.notification-box{
    width: 30rem;
    left: 110%;
    position: absolute;
    top: 0;
    background: var(--color-white);
    border-radius: var(--card-border-radiuas);
    padding: var(--card-padding);
    box-shadow: var(--color-primary)0 0 1rem;
    z-index: 8;
    display: none;
}

.notification-box::before{
    content: '';
    width: 1.2rem;
    height: 1.2rem;
    background: var(--color-white);
    position: absolute;
    left: -.6rem;
    transform: rotate(45deg);
}
.notification-box>div{
    display: flex;
    gap: 1rem;
    align-items: start;
    margin-bottom: 1rem;

}
.notification-box .profile-picture{
    width: 2.6rem;
}
.notification-box>div small{
    display: block;
}

/*.............end notifaction box......*/
/*.............end main left ......*/



/*...........start main madile.....*/
/*...........start srory.....*/
.middle-container{
    max-width: 700px !important;
    width: 90%;
    margin: 0 auto;


}
.stories-wrapper {
    display: flex;
    gap:.5rem;
    height: 12rem !important ;


}
.stories-wrapper .story  {
    width: 100%;
    height: 100%;
     position: relative; 
     border-radius: var(--card-border-radiuas);
     overflow: hidden;

}
.story input{
    display: none;
}
.story::before{
    height: 5rem;
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    background:linear-gradient(transparent , var(--color-primary));
    width: 100%;
}
.stories-wrapper .story:first-child{
    background: var(--color-primary);
}
 .story .profile-picture  {
    position: absolute;
    top: 0.6rem;
    width:2.4rem;
    left: 0.2rem;
    /* border : 2px dashed var(--color-primary) ; */

    z-index: 8;
}
.story p{
    text-align: center;
    margin-top: -3rem;
    color: var(--color-white); 
    z-index: 8;  
    position: absolute;
    width: 100%;
}
.story>img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.story .add-story{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background:var(--color-primary); 
    top: 0;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
  
   
}

.story .add-story i {
    display: block;
    font-size: 1.4rem;
    margin-top: -1rem;
    color: var(--color-white);
}

.story .add-story p{
    margin-bottom: -7rem;

}
.main-middle .add-post{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .4rem var(--card-padding);
    border-radius: var(--border-radiuas);
    background: var(--color-white);
    margin-top: 1rem ;
}
.main-middle .add-post input[type="text"]{
    justify-self:start ;
    width: 100%;
    padding-left: 1rem;
    background: var(--color-white);
    margin-right: 1rem;

}
.main-middle .add-post .profile-picture{
    width: 2.8rem;
}
/*...........end srory.....*/

 /*  ------------ start feed  aria --------------  */
.feeds .feed{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radiuas);
    margin: 1rem auto;
    line-height: 1.5;
    font-size: .85rem;

}
.myfeed .feed-top .edit{
    position: relative;
}

.feeds .feed .feed-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.feed .feed-top .user{
    display: flex;
    gap: 1rem;   
}
.feed .feed-top .edit img{
    width: 1.7rem;
}
.feeds .feed-img img {
    border-radius: var(--card-border-radiuas);
    overflow: hidden;
    margin: .8rem 0;
  
    
}
.feeds .feed-img img{
    width: 100%;
}
.feed .action-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    margin: 0.6rem;
}
.action-button span:first-child i{
    font-weight: normal;
}
.action-button span:nth-child(2) i{
    font-weight: normal;
}
.bookmark i{
    display: flex;
}
.liked-by{
  display: flex;
}
.liked-by span img
{
    border-radius: 50%;
    display: block;
    height: 1.4rem;
    overflow: hidden;
    margin-left: -.6rem;
    width: 1.4rem;
    border: 2px solid var(--color-white);
}
.liked-by span:first-child{
    margin: 0;    
}
.hars-tag{
    color: var(--color-primary);
}

  /*  ------------ end feed  aria --------------  */

.edit .edit-menu {
    background:var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radiuas);
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    box-shadow:0 0 .2rem var(--color-primary);
    top: 2.4rem;
    transform: scale(0);
    transition: 300ms ease all;
    transform-origin: top right;
}
.edit:hover .edit-menu{
    transform: scale(1);  
}
.edit .edit-menu li{
    display: flex;
    gap:.7rem;
    align-items: center;
    font-size: 1rem;
    color: var(--color-gray);
    transition: 300ms  ease all;
}
.edit .edit-menu li:hover{
    color: var(--color-dark);

}
.edit .edit-menu li:last-child:hover{
    color: var(--color-danger);
}

/*...........end main madile.....*/

/* -------------- end main section  ----------------*/

 /*---------- Start main Right -----------*/
.main-right{
    height: max-content;
    position: sticky;
    top: -18rem;
    bottom:0;
}
.messages{
    background: var(--color-white);
    border-radius: var(--card-border-radiuas);
    padding: var(--card-padding);
}
.message-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.messages i{
    font-size: 1.4rem;
}
.message-search-bar{
    display: flex;
    background: var(--color-light);
    border-radius: var(--border-radiuas);
    padding: var(--card-padding);
    gap: .5rem;
    margin-bottom: 1rem;

}
.message-search-bar input[type='search']{
   background: transparent;
   font-size: .9rem;
   color: var(--color-dark);
}

.message-categories{
    display: flex;
    margin-bottom: 1rem;
    justify-content:space-between;
    align-items: center;

}
.message-categories h6{
    font-weight: bold;
    width: 100%;
    font-size: .85rem;
    padding-bottom: .5rem;
    border-bottom: 4px solid var(--color-light);
    text-align: center;
}
.message-categories .active{
    border-color: var(--color-primary);
}
.message{
    display: flex;
    gap:1rem;
    align-items:start;
}
.message:last-child{
    margin-top: 0;
}
.message p{
    font-size: .8rem;
    margin-bottom: 1rem;
}
.message .profile-picture{
    position: relative;
    overflow: visible;
    height: 2.6rem;
    width: 2.6rem;
}
.message .profile-picture img{
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.green-active{
    width: .8rem;
    height: .8rem;
    background: var(--color-success);
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
}
.message-request{
    color: var(--color-primary);
}
.firend-request h4{
color: var(--color-gray);
margin: 1rem 0;
}
.request{
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radiuas);
    margin-bottom: 1rem;

}
.alert{
    display: none;
}
.request .info{
display: flex;
gap: 1rem;
margin-bottom: 1rem;
}
.request .action{
    display: flex;
    gap: 1rem;

}
.request .action .btn-danger{
    background: var(--color-danger);
    color: white;
     
}
  /*---------- end main Right -----------*/

/* -------------- Start popup area --------------- */

.popup {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 9;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: none;
}

.popup>div {
    display: flex;
}

.popup-box {
    width: fit-content;
    height: max-content;
    padding: 3rem;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow */
    transition: all 0.3s ease-in-out; /* Smooth transition */
}

.profile-popup-box>div img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 2rem;
}

#profile-upload {
    display: none;
}

.profile-popup-box h1 {
    line-height: 1.8;
}

.popup .close {
    font-size: 1.6rem;
    color: var(--color-black);
    margin-left: 0.5rem;
    margin-top: -0.5rem;
    cursor: pointer; /* Add cursor pointer */
}

/* -------------- end popup area --------------- */

/*------- start add post popup ----------*/

.add-post-popup {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: var(--color-white);
    padding: 2rem;
    border-radius: var(--card-border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
}

.post-title label {
    font-size: 1.4rem;
    font-weight: bold;
}

.post-title input {
    background: var(--color-light);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    font-size: 1.1rem;
    border: 1px solid var(--color-gray); /* Add border */
}

.post-title input:focus {
    border: 1px solid var(--color-primary); /* Change border color on focus */
}

.post-img {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.post-img input[type='file'] {
    display: none;
}

.post-img img {
    width: 6rem;
    margin: 0.5rem auto;
    background: var(--color-gray);
    border-radius: var(--card-border-radius); /* Add border radius */
}

.post-img .feed-upload-button {
    padding: var(--card-padding);
    border: 2px dashed var(--color-dark);
    font-weight: bold;
    cursor: pointer; /* Add cursor pointer */
    transition: background 0.3s ease; /* Smooth transition */
}

.post-img .feed-upload-button:hover {
    background: var(--color-light); /* Change background on hover */
}

.boxshadow1 {
    box-shadow: 0 0 0.5rem var(--color-primary);
}

.liked {
    font-weight: bold !important;
    color: var(--color-danger);
    transform: scale(1.1);
}

/*------- end add post popup ----------*/

/*  ------------Start theme customize popup  ---------*/

.theme-customize-popup-box .font-size {
    margin-top: 4rem;
}

.theme-customize-popup-box .font-size>div {
    display: flex;
    padding: var(--search-padding);
    border-radius: var(--card-border-radius);
    justify-content: space-between;
    align-items: center;
    background: var(--color-light);
    margin: 1rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.theme-customize-popup-box h1 {
    margin-top: 0.5rem;
}

.choose-size {
    height: 0.3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: var(--color-secondary);
    align-items: center;
    margin: 0 1rem;
    gap: 3rem;
}

.choose-size span {
    width: 1rem;
    height: 1rem;
    background: var(--color-secondary);
    cursor: pointer;
    border-radius: 50%;
    transition: background 0.3s ease; /* Smooth transition */
}

.choose-size span:hover {
    background: var(--color-primary); /* Change background on hover */
}

.choose-size .active {
    background: var(--color-primary);
}

.choose-color {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    border-radius: var(--card-border-radius);
    padding: var(--search-padding);
    background: var(--color-light);
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.choose-color span {
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    display: inline-block;
    margin: 0 0.5rem;
    transition: transform 0.3s ease; /* Smooth transition */
}

.choose-color span:hover {
    transform: scale(1.1); /* Scale up on hover */
}

.choose-color .active {
    border: 4px solid var(--color-dark);
}

.choose-color span:nth-child(1) {
    background: hsl(252, 75%, 60%);
}

.choose-color span:nth-child(2) {
    background: hsl(52, 75%, 60%);
}

.choose-color span:nth-child(3) {
    background: hsl(352, 75%, 60%);
}

.choose-color span:nth-child(4) {
    background: hsl(152, 75%, 60%);
}

.choose-color span:nth-child(5) {
    background: hsl(202, 75%, 60%);
}

.choose-bg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    margin-top: 1rem;
}

.choose-bg>div {
    display: flex;
    width: 100%;
    padding: var(--card-padding);
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: border 0.3s ease; /* Smooth transition */
}

.choose-bg>div:hover {
    border: 2px solid var(--color-primary); /* Change border on hover */
}

.choose-bg .active {
    border: 2px solid var(--color-primary);
}

.choose-bg .bg1 {
    background: white;
    box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.3);
    color: black;
}

.choose-bg .bg2 {
    color: white;
    background: hsl(252, 30%, 17%);
}

.choose-bg>div span {
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
    border: 2px solid var(--color-gray);
    margin-right: 0.4rem;
}

/* ============Start Media Queries=========== */
@media(max-width: 1200px) {
    .container {
        width: 96%;
    }

    .main-container {
        grid-template-columns: auto 30vw;
    }

    .main-left {
        width: 6rem;
        z-index: 5;
        position: fixed;
        right: 0;
        top: 10%;
    }

    .main-container .main-left .profile {
        display: none;
    }

    aside h3 {
        display: none;
    }

    aside .menu-item span img {
        margin-left: 1.5rem;
    }

    aside .btn {
        display: none;
    }
}

@media(max-width: 1024px) {
    nav .search-bar {
        display: none;
    }

    .main-container {
        grid-template-columns: auto 0;
    }

    .main-left {
        right: 0;
        top: 10%;
        position: fixed;
    }

    .main-right {
        display: none;
    }
}

/* ============End Media Queries=========== */
